.pending {
    position: relative;
}
.case-studies-count {
    position: absolute;
    text-align: center;
    align-items: center;
    padding: 5px 12px;
    background-color: #fff;
    border-radius: 50%;
    right: -14px;
    top: -18px;
    border: 1px solid;
}
.admin-heading {
    font-size: 30px;
    font-weight: 500;
}
.user-name {
    font-size: 18px;
}
.admin-page-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

