.upload-title {
    margin-top: 10%;
    font-size: 20px;
    font-weight: 700;
}
.upload-subtitle {
    margin: 15px 0;
}
.file-upload {
    width: 40%;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.choose-button {
    width: 40% !important;
    margin-top: 10px !important;
}