.file-block {
    text-align: left;
}
.ant-input {
    /*margin: 3px 0;*/
}
.personal-info-block,
.changes-btns,
.upload-btns {
    display: flex;
}
.personal-info-wrapper {
    width: 250px;
}
Input {
    max-width: 250px;
}
.changes-btns {
    margin-top: 15px;
}
.personal-heading {
    font-size: 20px;
    font-weight: 600;
    margin: 15px 0;
}
.save-btn,
.cancel-btn,
.file-upload-btn,
.choose-btn {
    border: 1px solid darkgray;
    width: 45%;
    font-size: 14px;
    padding: 5px 0;
}
.research-btn:hover {
    cursor: pointer;
}
.ant-input,
.ant-input-affix-wrapper{
    /*width: 350px;*/
}
.ant-form-item-control-input-content {
    flex: unset;
    width: 250px;
}
.participant-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.login-btns button {
    border-top-left-radius:10px;
    border-top-right-radius: 10px;
}
h2 {
    margin: 8px 0;
}
.active {
    background-color: darkgray !important;
}
.ant-btn:active, .ant-btn.active {
    border-color: transparent;

    color: #000;
}
.researcher-profile-btn {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
}
