.root-Admin__heading,
.participant-heading,
.researcher-login__heading,
.participant-login__heading{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 20px
}
.participant-login__btns,
.participant-register__login-btns{
    display: flex;
    justify-content: center;
    button {
        border: none;
        margin: 0 8px;
    }
}
h2 {
    margin: 8px 0;
}
.participant__btn {
    &:hover {
        cursor: pointer;
    }
}
.case-studies__save-btn,
.case-studies__cancel-btn,
.research-create__save-btn,
.research-create__cancel-btn,
.participant-profile__save-btn,
.participant-profile__cancel-btn,
.researcher-profile__save-btn,
.researcher-profile__cancel-btn,
.file-upload-btn,
.choose-btn {
    border: 1px solid darkgray;
    font-size: 14px;
}
.researcher-profile__cancel-btn {
    margin-left: 10px;
}
.ant-form-item-control-input-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: unset;
    width: 250px;
    .orRegister-proposal{
        display: flex;
    justify-content: space-between;
    }
}
.ant-form-item-control-input {
    margin: 0 auto;
}
//.researcher-profile__fields-wrapper
//.ant-form-item-control-input {
//    margin: 0;
//}
.participant-profile__cancel-btn {
    margin-left: 10px;
}
.login-form .ant-btn-primary {
    width: 100%;
    margin-bottom: 3%;
}
.ant-btn:active, .ant-btn.active {
    border-bottom: 2px solid #1890ff;
}

