.participant-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.login-btns {
    display: flex;
    justify-content: center;
    button {
        border: none;
        margin: 0 8px;
    }
}
h2 {
    margin: 8px 0;
}
.research-btn {
    &:hover {
        cursor: pointer;
    }
}
.case-studies__save-btn,
.case-studies__cancel-btn,
.research-create__save-btn,
.research-create__cancel-btn,
.participant-profile__save-btn,
.participant-profile__cancel-btn,
.ResearcherProfile__save-btn,
.ResearcherProfile__cancel-btn,
.file-upload-btn,
.choose-btn {
    border: 1px solid darkgray;
    font-size: 14px;
}
.ResearcherProfile__cancel-btn {
    margin-left: 10px;
}
.ant-form-item-control-input-content {
    flex-wrap: wrap;
    flex: unset;
    width: 250px;
}
.participant-profile__cancel-btn {
    margin-left: 10px;
}
.login-form .ant-btn-primary {
    width: 100%;
    margin-bottom: 3%;
}
.ant-btn:active, .ant-btn.active {
    border-bottom: 2px solid #1890ff;
}

