.ant-form-horizontal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.root-Admin__wrapper {
    padding-top: 5%;
}
.invalid-email,
.invalid-password{
    margin: 0 0 5px 0;
    color: red;
}

.invalid-password {
    width: 250px;
    margin: 5px auto;
    text-align: left;
}
