.participant-profile__btns-wrapper,
.participant-studies__btns-wrapper,
.researcher-profile__btns-wrapper,
.researcher-studies__btns-wrapper,
.personal-stats__tns-wrapper{
    display: flex;
    border-bottom: 1px solid;
    justify-content: space-between;
    button {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
    }
    .participant-profile__btn,
    .participant__btn {
        border: 1px solid darkgray;
        width: 130px;
        font-size: 12px;
    }
}

.researcher-profile__changes-btns
.researcher-profile__save-btn,
.participant-profile__changes-btns
.participant-profile__save-btn{
    width: 115px;
}
.participant-profile__personal-info-block,
.case-studies__changes-btns,
.research-create__changes-btns,
.participant-profile__changes-btns,
.researcher-profile__changes-btns,
.personal-stats__upload-btns {
    display: flex;
    .participant-profile__wrapper {
        width: 250px;
        .participant-profile__fields {
            .ant-btn {
                border: none;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .input-number {
                width: 100%;
            }
        }

    }
}
.participant-profile__personal-heading,
.participant-studies__personal-heading,
.researcher-profile__personal-heading,
.researcher-studies__personal-heading,
.personal-stats__personal-heading {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin: 15px 0;
}
.researcher-login__heading {
    text-align: center;
}
.case-studies__fields-wrapper,
.research-changes__fields-wrapper,
.research-create__fields-wrapper,
.participant-profile__fields-wrapper,
.create-research__fields-wrapper,
.personal-stats__fields-wrapper,
.changes-modal__fields-wrapper,
.researcher-profile__fields-wrapper{
    margin: 8px 0 15px 0;
    text-align: left;
    p {
        text-align: left;
        font-size: 13px;
        margin: 0;
    }
    #components-dropdown-demo-dropdown-button {
        border: 1px solid #d9d9d9;
        .ant-dropdown-button {
            margin: 0 8px 8px 0;
        }
        .ant-btn-group-rtl.ant-dropdown-button {
            margin: 0 0 8px 8px;
        }
    }
    .before-dropdown {
        padding-bottom: 2px;
    }
}

.personal-stats__info-img,
.researcher-studies__study-info-img{
    width: 200px;
    img {
        width: 200px;
        margin: 15px 0;
    }
}
.ant-input:placeholder-shown {
    text-align: left;
}
.case-studies__changes-btns,
.research-create__changes-btns,
.changes-modal__changes-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    button {
        border-radius: 5px;
    }
    .case-studies__save-btn,
    .research-create__save-btn{
        margin-right: 8px;
        font-weight: 600;
    }
}
.ant-cascader-picker,
.ant-cascader-menu {
    width: 100%;
}
.ant-cascader-menu {
    //height: 100% !important;
}
.ant-cascader-menus {
    width: 250px;
    text-align: center;
}
.participant-profile__changes-btns {
    margin-top: 25px;
}


