.btns-wrapper {
    display: flex;
    border-bottom: 1px solid;
}
.btns-wrapper button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
}
.personal-heading {
    text-align: left;
}
.profile-btn,
.research-btn {
    border: 1px solid darkgray;
    width: 130px;
    font-size: 12px;
}
.personal-info-img,
.personal-info-img img{
    width: 200px;
}
.personal-info-img img {
    margin: 15px 0;
}
.profile-fields .ant-btn {
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile-fields .input-number {
    width: 100% !important;
}
#components-dropdown-demo-dropdown-button .ant-dropdown-button {
    margin: 0 8px 8px 0;
}
#components-dropdown-demo-dropdown-button .ant-btn-group-rtl.ant-dropdown-button {
    margin: 0 0 8px 8px;
}
.ant-input:placeholder-shown {
    text-align: left !important;
}
p {
    text-align: left;
    font-size: 13px;
    margin: 0;
}
.fields-wrapper {
    margin: 8px 0 15px 0;
    text-align: left;
}
.before-dropdown {
    padding-bottom: 2px;
}
.changes-btns {
    margin-top: 20px;
}
.changes-btns button {
    border-radius: 5px;
}
.save-btn {
    margin-right: 8px;
    font-weight: 600;
}
