.participant-studies__wrapper,
.researcher-studies__study-wrapper
 {
    border: 1px solid;
    padding: 15px 10px;
    border-radius: 15px;
    margin-bottom: 8px;
    .participant-studies__info-wrapper,
    .researcher-studies__info-wrapper{
        display: flex;
        .participant-studies__img,
        .researcher-studies__study-info-img{
            width: 150px;
            img {
                width: 150px;
            }
        }
        .participant-studies__study,
        .study{
            text-align: left;
            flex: 1;
            margin-left: 25px;
            color: #000;

        }
    }
}
.participant-studies__require,
.researcher-studies__require{
    font-weight: 700;
    margin-bottom: -5px;
}
.participant-studies__info,
.researcher-studies__info{
    width: 65%;
    margin-bottom: 8px;
    line-height: 17px;
}
.participant-studies__heading,
.researcher-studies__heading{
    font-size: 23px;
    font-weight: 600;
}
.study-btns {
    display: flex;
}
.study-length,
.study-compensation,
.study-descr {
    font-size: 15px;
}
.study-block-header-btns {
    display: flex;
    border-bottom: 1px solid;
}
.study-profile-btn,
.study-research-btn,
.participant-register__research-btn,
.researcher-studies__btn{
    border: 1px solid;
}

.participant-studies__load-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    button {
        border-radius: 5px;
    }
    .participant-studies__upload-btn {
        margin-left: 10px;
    }
}

.ParticipantStudies-Cases {
    overflow-y: auto;
    height: 83vh;
}