.ant-table-thead > tr > th {
    background-color: #e6e6e6;
    text-align: center;
    font-weight: 700;
}
.ant-table-cell {
    border-right: 2px solid #eaeaea;
    text-align: center;
}
.ant-table-cell:first-child {
    border-left: 2px solid #eaeaea;
}
.ant-table-tbody > tr > td {
    border-bottom: 2px solid #eaeaea;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
    padding: 23px 16px;
}
.ant-table-tbody {
    font-weight: 600;
}
.researchers-profile-btn,
.participant-login__-btn,
.researcher-studies__profile-btn{
    /*margin-bottom: 25px;*/
}
.researchers-profile-btn-wrapper {
    text-align: left;
}


.allResearchers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.allResearchers div{
    width: 100%;
        border: 1px solid ghostwhite;
        font-size: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        font-weight: bold;
}

.title-allResearchers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gainsboro;
    height: 50px;
}

.title-allResearchers div{
    width: 100%;
    border: 1px solid ghostwhite;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}