* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    color: #000;
}
.container {
    height: 100vh
}
.main-page-wrapper {
    height: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 3%;
}
.main-page-header {
    padding: 5%;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 600;
}
.main-page-btns {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.main-block-btn {
    padding: 5px 8px;
    font-size: 14px;
    font-weight: 600;
}
.main-block-btn:hover {
    cursor: pointer;
}
.admin-text {
    text-align: left;
}
