.admin-page-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    .case-studies-count {
        position: absolute;
        text-align: center;
        align-items: center;
        padding: 5px 9px;
        background-color: #fff;
        border-radius: 50%;
        right: -14px;
        top: -18px;
        border: 1px solid;
        .pending {
            position: relative;
        }
    }
}
.admin-page {
    padding: 5% 15%;
    .admin-page__text {
        padding-bottom: 5%;
        text-align: left;
        .admin-page__text {
            font-size: 30px;
            font-weight: 500;
        }
        .admin-page__user-name {
            font-size: 18px;
        }
    }
}

