.personal-stats__wrapper,
.personal-info-container {
    display: flex;
    align-items: center;
}
.personal-stats {
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}
.personal-stats-area {
    resize: none;
}
.personal-stats__blocks-wrapper {
    display: flex;
    margin-top: 40px;
    .personal-stats__left-block,
    .personal-stats__right-block {
        width: 250px;
        text-align: left;
    }
    .personal-stats__right-block {
        margin-top: 15px;
        margin-left: 70px;
    }
}
.input-number,
.ant-dropdown-trigger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.personal-stats__footer-btns {
    margin: 20px 0;
    text-align: left;
    .personal-stats__create-research-btn {
        margin-right: 15px;
    }
    .ant-btn {
        width: 175px;
    }
}

.personal-stats__vr-upload {
    width: 125px;
}
.ant-btn {
    .ant-dropdown-trigger {
        width: 100%;
    }
}
.ant-progress-small {
    text-align: left;
}
