.Root-Case {
    overflow: hidden;
}

.case-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.researcher-studies__btns{
    display: flex;
    justify-content: flex-end;
}