.personal-stats__wrapper,
.personal-info-container {
    display: flex;
    align-items: center;
}
.personal-stats {
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px;
}
.personal-stats-area {
    resize: none;
}
.personal-stats__blocks-wrapper {
    display: flex;
    margin-top: 20px;
    .personal-stats__left-block,
    .personal-stats__right-block {
        width: 300px;
        text-align: left;
    }
    .personal-stats__right-block {
        margin-top: 15px;
        margin-left: 70px;
    }
}
.input-number,
.ant-dropdown-trigger{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.personal-stats__footer-btns {
    display: flex;
    margin: 20px 0;
    text-align: left;
    .personal-stats__create-research-btn {
        margin-right: 15px;
    }
}

.personal-stats__vr-upload {
    width: 125px;
}
.ant-btn {
    .ant-dropdown-trigger {
        width: 100%;
    }
}
.ant-progress-small {
    text-align: left;
}

.ant-cascader-menus {
    left: 370px;
    top: 437px;
    overflow-x: hidden;
    height: auto;
}

.ant-cascader-picker{
    width: 250px
}
.ant-row.ant-form-item.personal-stats__fields-wrapper, .ant-row.ant-form-item {
    display: block;
    text-align: left;
}
.participant-profile__fields .ant-form-item {
    margin-bottom: 0;
}
.root-EditCase .ant-form-item {
    width: 100%;
}
.ant-form-item {
    //width: 100%;
}
.ant-input-number.input-number {
    width: 100%;
}
.ant-slider {
    width: 100%;
}
