.researcher-profile__personal-fields-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .ant-input {
        width: 250px;
    }
    .research-changes__changes-btns,
    .research-create__changes-btns{
        display: block;
        text-align: left;
    }
}
.researcher-profile__btn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 130px
}
.researcher-profile__personal-fields-wrapper .ant-form-item{
 margin: 0;
}
