.uploadImage img {
    width: 150px;
}
.upload-title,
.upload-descr {
    width: 30% !important;
    margin: 10px auto !important;
    display: block;
}
.ant-input:placeholder-shown {
    display: block;
    width: 100%;
    text-align: center;
    /*margin: 10px auto;*/
}
.upload-descr {
    height: 65px;
}
.upload-redSet {
    width: 35% !important;
}
