.upload-title {
    margin-top: 10%;
    font-size: 20px;
    font-weight: 700;
}
.upload-subtitle {
    margin: 15px 0;
}
.file-upload {
    width: 40%;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.choose-button {
    width: 40% !important;
    margin-top: 10px !important;
}
.ant-modal-content {
    height: 60vh;
    width: 37vw;
}
.ant-modal-close-x {
    display: none !important;
}
.ant-modal-header {
    border-bottom: none !important;
    padding: 15px 0 0 0 !important;
}
.ant-modal-title {
    text-align: center;
    font-size: 18px !important;
}
.modal-subtitle {
    text-align: center;
    font-weight: 500;
}
.modal-upload-btn-wrapper {
    text-align: center;
}
.modal-upload-btn {
    margin: 20px 0 0 0;
}
.ant-modal-footer {
    display: none;
}
.ant-progress-outer {
    padding: 0 !important;
    margin: 0 !important;
    width: 70% !important;
}
.ant-progress-line {
    text-align: center;
    margin-top: 15px !important;
}
.ant-progress-inner {
    height: 15px;
    border-radius: 2px !important;
}
.ant-progress-bg {
    height: 100% !important;
}
.ant-progress-success-bg, .ant-progress-bg {
    border-radius: 0 !important;
}
.ant-modal-body {
    padding: 15px 20px 0 20px;
}
