.file-upload__btn-wrapper {
    text-align: center;
    .modal-upload-btn {
        margin: 20px 0 15px 0;
    }
}
.upload-title {
    margin-top: 10%;
    font-size: 20px;
    font-weight: 700;
}
.upload-subtitle {
    margin: 15px 0;
}
.file-upload {
    width: 40%;
    align-items: center;
    display: flex;
    margin: 0 auto;
}
.ant-modal-content {
    padding: 20px;
    .ant-input {
        width: 100%;
    }
}
.ant-modal-title {
    text-align: center;
    font-size: 18px;
}
.file-upload__modal-subtitle {
    text-align: center;
    font-weight: 500;
}
.ant-modal-footer {
    display: none;
}
//.ant-progress-outer {
//    width: 70%;
//}
//.ant-progress-line {
//    text-align: center;
//}
//.ant-progress-inner {
//    height: 15px;
//}
.ant-progress-bg {
    height: 100% !important;
}
.personal-stats__left-block .ant-progress-bg {
    //margin-top: 10px;
}
.ant-modal-body {
    padding: 0;
}
.ant-modal {
    width: 25vw;
}
//.ant-progress {
//    margin: 15px 0;
//}
