.ant-form-item-explain {
    text-align: left;
}
/* .ant-form-item-explain > div {
    margin: 8px 0;
} */

.login-text-title {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
}

.root-ResearcherLogin .ant-form-horizontal {
    align-items: center;
}
